{% extends 'base.html.twig' %}

{% block title %}Richiesta di reset della password{% endblock %}

{% block body %}
    <p>Una email contenente il link di reset password è stato inviato. questo link scadrà tra {{ tokenLifetime|date('g') }} ore</p>
    <p>Se non ricevi la mail controlla nella cartella dello span o <a href="{{ path('app_forgot_password_request') }}">riprova</a>.</p>
{% endblock %}
